.block-heading {
  text-align: center;
  margin-bottom: 30px;
  color: #3b99e0;
}

.product {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}

.summary {
  background: #f7fbff;
  border-top: 3px solid #5ea4f3;
  padding: 20px;
  border-radius: 5px;
}

.summary h4 {
  margin-bottom: 20px;
}

.checkout-btn {
  width: 100%;
  background: #007bff;
  color: #fff;
  margin-top: 15px;
  border-radius: 8px;
}
